:host {
    all: unset;
    display: block;
    font-family: var(--n-font-family);
    font-size: var(--n-font-size-m);
    line-height: var(--n-line-height);
    font-feature-settings: var(--n-font-features);
    box-sizing: border-box;
    text-align: start
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:host([hidden]),
[hidden] {
    display: none !important
}