:host {
    --_n-input-inline-size: var(--n-input-inline-size, 240px);
    --_n-input-background: var(--n-input-background, var(--n-color-active));
    --_n-input-color: var(--n-input-color, var(--n-color-text));
    --_n-input-border-color: var(--n-input-border-color, var(--n-color-border-strong));
    --_n-input-border-radius: var(--n-input-border-radius, var(--n-border-radius-s))
}

.n-input-container {
    position: relative;
    inline-size: var(--_n-input-inline-size)
}

.n-input {
    background: var(--_n-input-background);
    color: var(--_n-input-color);
    padding: calc(var(--n-space-s) - 1px) calc(var(--n-space-s) * 1.6);
    border-radius: var(--_n-input-border-radius);
    border: 1px solid var(--_n-input-border-color);
    font-family: var(--n-font-family);
    font-size: var(--n-font-size-m);
    line-height: var(--n-line-height-form);
    inline-size: 100%;
    transition: border var(--n-transition-slowly), box-shadow var(--n-transition-slowly), background var(--n-transition-slowly)
}

@media (max-width:480px) {
    .n-input {
        font-size: var(--n-font-size-l)
    }
}

:host([expand]) {
    --_n-input-inline-size: 100%;
    inline-size: 100%
}

.n-input:hover,
.n-label-container:hover+.n-input-container {
    --_n-input-border-color: var(--n-input-border-color, var(--n-color-border-hover))
}

.n-input:focus {
    --_n-input-border-color: var(--n-input-border-color, var(--n-color-accent));
    --_n-input-background: var(--n-input-background, var(--n-color-surface));
    outline: 0;
    box-shadow: 0 0 0 1px var(--_n-input-border-color)
}

.n-input::placeholder {
    color: var(--n-color-text-weakest)
}

.n-input[aria-invalid=true] {
    --_n-input-border-color: var(--n-input-border-color, var(--n-color-status-danger)) !important
}

.n-input:disabled,
.n-input[readonly],
.n-label-container:hover+.n-input-container .n-input:disabled,
.n-label-container:hover+.n-input-container .n-input[readonly] {
    --_n-input-border-color: var(--n-input-border-color, var(--n-color-active));
    --_n-input-color: var(--n-input-color, var(--n-color-text-weakest))
}

.n-input[readonly],
.n-label-container:hover+.n-input-container .n-input[readonly] {
    --_n-input-color: var(--n-input-color, var(--n-color-text-weak))
}

.n-input[readonly]:focus {
    --_n-input-border-color: var(--n-input-border-color, var(--n-color-accent))
}

:host([size="s"]) :is(.n-input-container, .n-input) {
    font-size: var(--n-font-size-s)
}

:host([size="s"]) .n-input {
    padding: calc((var(--n-space-s)/ 2) - 2px) calc((var(--n-space-s)/ 2) * 1.6)
}

:host([size="l"]) :is(.n-input-container, .n-input) {
    font-size: var(--n-font-size-l)
}

:host([size="l"]) .n-input {
    padding-block-start: calc(var(--n-space-m)/ 1.25);
    padding-block-end: calc(var(--n-space-m)/ 1.25)
}