:root {
  --n-font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
@supports (font-variation-settings: normal) {
  :root { --n-font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';}
}

html, :host, *[theme="light"] {
    --n-color-accent: rgb(53, 89, 199);
    --n-color-text: rgb(12, 26, 61);
    --n-color-text-link: rgb(53, 89, 199);
    --n-color-text-weak: rgb(54, 67, 74);
    --n-color-text-weaker: rgb(102, 118, 128);
    --n-color-text-weakest: rgb(178, 186, 191);
    --n-color-text-on-accent: rgb(255, 255, 255);
    --n-color-text-error: rgb(185, 77, 55);
    --n-color-text-success: rgb(80, 128, 56);
    --n-color-nav-surface: rgb(246, 248, 248);
    --n-color-nav-heading: rgb(143, 161, 170);
    --n-color-nav-hover: rgb(234, 240, 240);
    --n-color-border: rgb(216, 222, 228);
    --n-color-border-strong: rgb(188, 197, 204);
    --n-color-surface: rgb(255, 255, 255);
    --n-color-background: rgb(255, 255, 255);
    --n-color-surface-raised: rgb(250, 251, 251);
    --n-color-overlay: rgba(144, 152, 152, 0.4);
    --n-color-status-neutral: rgb(114, 110, 119);
    --n-color-status-warning: rgb(240, 192, 68);
    --n-color-status-highlight: rgb(125, 73, 193);
    --n-color-status-danger: rgb(185, 77, 55);
    --n-color-status-success: rgb(80, 128, 56);
    --n-color-status-info: rgb(53, 89, 199);
    --n-color-status-progress: rgb(0, 131, 138);
    --n-color-status-neutral-weak: rgb(227, 227, 227);
    --n-color-status-warning-weak: rgb(255, 233, 189);
    --n-color-status-highlight-weak: rgb(238, 220, 255);
    --n-color-status-danger-weak: rgb(255, 208, 199);
    --n-color-status-success-weak: rgb(216, 229, 200);
    --n-color-status-info-weak: rgb(204, 218, 255);
    --n-color-status-progress-weak: rgb(196, 240, 242);
    --n-color-button: rgb(255, 255, 255);
    --n-color-button-hover: rgb(246, 248, 248);
    --n-color-border-hover: rgb(102, 118, 128);
    --n-color-icon: rgb(102, 118, 128);
    --n-color-icon-hover: rgb(12, 26, 61);
    --n-color-active: rgb(246, 248, 248);
    --n-box-shadow: 0 1px 3px rgba(12, 12, 12, 0.09);
    --n-box-shadow-header: 0 1px 5px rgba(12, 12, 12, 0.05);
    --n-box-shadow-card: 0 0 0 1px var(--n-color-border), 0 1px 5px rgba(12, 12, 12, 0.05), 0 0 40px rgba(12, 12, 12, 0.015);
    --n-box-shadow-nav: 0 0 0 1px var(--n-color-border), 0 5px 17px rgba(12, 12, 12, 0.14);
    --n-box-shadow-popout: 0 4px 12px rgba(12, 12, 12, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
    --n-box-shadow-modal: 0 24px 38px 3px rgba(12, 12, 12, 0.16), 0 9px 86px 8px rgba(12, 12, 12, 0.1), 0 11px 15px -7px rgba(12, 12, 12, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    --n-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    --n-box-shadow-header: 0 1px 5px rgba(0, 0, 0, 0.15);
    --n-box-shadow-card: 0 0 0 1px var(--n-color-border), 0 1px 5px rgba(0, 0, 0, 0.15);
    --n-box-shadow-nav: 0 0 0 1px var(--n-color-border), 0 5px 17px rgba(0, 0, 0, 0.24);
    --n-box-shadow-popout-dark: 0 4px 12px rgba(0, 0, 0, 0.25), 0 0 0 1px var(--n-color-border);
    --n-box-shadow-modal-dark: 0 0 0 1px var(--n-color-border), 0 24px 38px 3px rgba(0, 0, 0, 0.34), 0px 9px 86px 8px rgba(0, 0, 0, 0.28), 0px 11px 15px -7px rgba(0, 0, 0, 0.28);
    --n-font-size-xxxl: 2.25rem;
    --n-font-size-xxl: 1.5rem;
    --n-font-size-xl: 1.25rem;
    --n-font-size-l: 1rem;
    --n-font-size-m: 0.875rem;
    --n-font-size-s: 0.75rem;
    --n-font-size-xs: 0.6875rem;
    
    --n-font-family-code: 'Nordhealth Mono', monospace, monospace;
    --n-font-features: 'kern' 1, 'tnum' 1, 'calt' 1, 'case' 1, 'cv05' 1, 'zero' 1, 'cv08' 0, 'ss03' 1;
    --n-font-features-reduced: 'kern' 1, 'tnum' 0, 'calt' 1, 'case' 1, 'cv05' 1, 'zero' 0, 'cv08' 0, 'ss03' 1;
    --n-font-weight: 400;
    --n-font-weight-active: 500;
    --n-font-weight-heading: 600;
    --n-font-weight-strong: 670;
    --n-size-icon-xxs: 8px;
    --n-size-icon-xs: 10px;
    --n-size-icon-s: 12px;
    --n-size-icon-m: 16px;
    --n-size-icon-l: 24px;
    --n-size-icon-xl: 36px;
    --n-size-icon-xxl: 72px;
    --n-space-xxl: 72px;
    --n-space-xl: 36px;
    --n-space-l: 24px;
    --n-space-m: 16px;
    --n-space-s: 8px;
    --n-border-radius-sharp: 0.02em;
    --n-border-radius-s: 3px;
    --n-border-radius: 5px;
    --n-border-radius-pill: 999px;
    --n-border-radius-circle: 50%;
    --n-transition-quickly: 0.05s ease;
    --n-transition-slowly: 0.2s ease;
    --n-transition-mobile: 0.4s ease;
    --n-line-height-tight: 1.15;
    --n-line-height-heading: 1.2;
    --n-line-height-caption: 1.3;
    --n-line-height: 1.5;
    --n-line-height-form: 20px;
    --n-index-deep: -999999;
    --n-index-default: 1;
    --n-index-masked: 100;
    --n-index-mask: 200;
    --n-index-sticky: 300;
    --n-index-nav: 400;
    --n-index-overlay: 500;
    --n-index-spinner: 600;
    --n-index-popout: 700;
    --n-index-toast: 800;
    --n-index-modal: 900;
}
*[theme="dark"] {
  --n-color-accent: rgb(42, 70, 157);
  --n-color-text: rgb(222, 223, 225);
  --n-color-text-link: rgb(92, 130, 245);
  --n-color-text-weak: rgb(222, 223, 225);
  --n-color-text-weaker: rgb(143, 148, 158);
  --n-color-text-weakest: rgb(85, 89, 98);
  --n-color-text-on-accent: rgb(255, 255, 255);
  --n-color-text-error: rgb(224, 129, 108);
  --n-color-text-success: rgb(139, 176, 120);
  --n-color-nav-surface: rgb(38, 41, 48);
  --n-color-nav-heading: rgb(155, 155, 155);
  --n-color-nav-hover: rgb(44, 49, 58);
  --n-color-border: rgb(47, 52, 60);
  --n-color-border-strong: rgb(61, 67, 77);
  --n-color-surface: rgb(29, 32, 37);
  --n-color-background: rgb(24, 27, 32);
  --n-color-surface-raised: rgb(34, 37, 43);
  --n-color-overlay: rgba(9, 10, 12, 0.5);
  --n-color-status-neutral: rgb(89, 86, 93);
  --n-color-status-warning: rgb(203, 158, 42);
  --n-color-status-highlight: rgb(106, 57, 167);
  --n-color-status-danger: rgb(142, 63, 47);
  --n-color-status-success: rgb(68, 103, 50);
  --n-color-status-info: rgb(42, 70, 157);
  --n-color-status-progress: rgb(0, 107, 112);
  --n-color-status-neutral-weak: rgb(59, 59, 59);
  --n-color-status-warning-weak: rgb(83, 76, 29);
  --n-color-status-highlight-weak: rgb(60, 49, 73);
  --n-color-status-danger-weak: rgb(92, 49, 41);
  --n-color-status-success-weak: rgb(52, 69, 43);
  --n-color-status-info-weak: rgb(47, 57, 86);
  --n-color-status-progress-weak: rgb(42, 61, 65);
  --n-color-button: rgb(29, 32, 37);
  --n-color-button-hover: rgb(38, 41, 48);
  --n-color-border-hover: rgb(143, 148, 158);
  --n-color-icon: rgb(143, 148, 158);
  --n-color-icon-hover: rgb(222, 223, 225);
  --n-color-active: rgb(38, 41, 48);
  --n-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  --n-box-shadow-card: 0 0 0 1px var(--n-color-border), 0 1px 5px rgba(0, 0, 0, 0.15);
  --n-box-shadow-header: 0 1px 5px rgba(0, 0, 0, 0.15);
  --n-box-shadow-modal: 0 0 0 1px var(--n-color-border), 0 24px 38px 3px rgba(0, 0, 0, 0.34), 0px 9px 86px 8px rgba(0, 0, 0, 0.28), 0px 11px 15px -7px rgba(0, 0, 0, 0.28);
  --n-box-shadow-popout: 0 4px 12px rgba(0, 0, 0, 0.25), 0 0 0 1px var(--n-color-border);
  --n-box-shadow-nav: 0 0 0 1px var(--n-color-border), 0 5px 17px rgba(0, 0, 0, 0.24)
}

@import "global";
@import "elements/table";