:host {
    display: flex;
    line-height: var(--n-line-height-tight)
}

.n-dropdown-item {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: flex;
    flex: 1;
    gap: var(--n-space-s);
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    border: 0;
    color: var(--n-color-text);
    padding: var(--n-space-s);
    border-radius: var(--n-border-radius-s);
    background: 0 0;
    text-align: start;
    box-shadow: var(--n-dropdown-item-box-shadow, none);
    min-inline-size: 0
}

.n-dropdown-item:hover {
    background: var(--n-color-accent);
    color: var(--n-color-text-on-accent)
}

.n-dropdown-item:hover ::slotted(*) {
    color: var(--n-color-text-on-accent) !important
}

.n-dropdown-item ::slotted(nord-icon) {
    color: var(--n-color-icon)
}

.n-dropdown-item:hover ::slotted(nord-icon) {
    color: currentColor
}

.n-dropdown-item:active {
    opacity: .7
}

.n-dropdown-item:focus {
    --n-dropdown-item-box-shadow: 0 0 0 2px var(--n-color-accent);
    outline: 0;
    position: relative;
    z-index: var(--n-index-masked)
}

@supports selector(:focus-visible) {
    .n-dropdown-item:focus {
        --n-dropdown-item-box-shadow: none
    }

    .n-dropdown-item:focus-visible {
        --n-dropdown-item-box-shadow: 0 0 0 2px var(--n-color-accent)
    }
}

@media (max-width:35.9375em) {
    .n-dropdown-item {
        gap: var(--n-space-m);
        padding: calc(var(--n-space-m)/ 1.5) var(--n-space-m)
    }

    .n-dropdown-item ::slotted(nord-icon) {
        block-size: var(--n-size-icon-m);
        inline-size: var(--n-size-icon-m)
    }
}

slot[name=end],
slot[name=start] {
    flex: 0 0 auto
}

slot[name=end] {
    display: flex;
    margin-inline-start: auto
}

.n-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

::slotted(nord-icon:not([size])) {
    --_n-icon-size: var(--n-size-icon-s)
}